<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Len</title>-->
<!--</head>-->
<!--<body bgcolor="PureBlack">-->
<!--    <h1 style="text-align:center;background-color:Teal;font-family:verdana">CHAT</h1>-->
<!--    <p> <img style="align:center;" src="{{url_for('static', filename='Len.jpeg')}}"  width="100" />Len</p>-->
<!--    <p style="text-align:center;color:white;"><strong>You:</strong>{{ user_input }}</p>-->
<!--    <p style="text-align:center;color:white;"><strong>Len:</strong>{{ bot_response }}</p>-->
<!--    <form style="text-align:center;color:Black;" method="post" action="{{ url_for('chatbot') }}">-->
<!--        <label for="message">Message:</label>-->
<!--        <input style="color:Black" type="text" id="message" name="message" required>-->
<!--        <button type="submit">Send</button>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->